/*  your css code here. If applicable */
.container{
	padding:20px;background-color:#F5F4F6;
	font-size:8px;
	width:70%
}
.items{
	padding:10px;
	background-color:white;
	border:1px solid gray;
	font-style:italic;
	
}
.author{
	text-align:right;
	font-style:italic;
}